.content {
   background: #FFF;
   max-width: 600px;
   margin: 0 auto;
   padding: 10px;
   text-align: initial;
}

.content img {
   width: 100%;
}
body {
   background: #dddddd;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   margin: 0 auto;
   max-width: 600px;
   text-align: center;
}

.in-browser {
   display: inline-block;
   text-align: center;
   margin: 10px auto;
}

.in-browser small {
   font-size: small;
}

.footer {
   font-size: smaller;
   text-align: center;
}
